{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="jumbotron">
    {% if name.replace(' ','') == '' %}

      <h3 style="font-weight: bold; color:red;">Invalid Hotel Name. Please go to Home page and enter a Hotel Name.</h3>

    {% else %}

      {% if new=='y' %}

        <h2 style="font-weight: bold; color:blue;">Welcome to Hotel, "{{name}}"</h2>
        <br>
        <h3 style="font-weight: bold; color:blue;">Hope you have a great experience</h3>

      {% else %}

        <h2 style="font-weight: bold; color:blue;">Welcome to Hotel, "{{name}}"</h2>
        <br>
        {% include 'custmostpopulartable_1.html' %}
        {% include 'custtopselltable_1.html' %}
        {% include 'prodrecommendtable_1.html' %}

      {% endif %}

    {% endif %}
  </div>
</div>

<div class="container">
  {% include 'mostpopulartable.html' %}
  {% include 'topselltable.html' %}
</div>


{% endblock %}